.main-header {
    background: var(--pr-clr);
    height: 95px;
    z-index: 20;
}
.main-header > h1{
    align-self: center;
}

.logo{
    padding-inline-start:10px ;
}

.burger {
    height: 90px;
    width: 90px;
    position: relative;
    cursor: pointer;
}

.burger>span {
    width: 40%;
    height: 4px;
    background: #eee;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: calc(12px * var(--i) + 50%);
    border-radius: 25px;
    transition: .5s;
}

body.menu-open .burger>span:not(:nth-child(even)) {
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
}

body.menu-open .burger>span:not(:nth-child(odd)) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.themes-list{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 106%;
    height: 0;
    transition: .5s;
    overflow: hidden;
    padding-inline: 20px;
    border-radius: 0 0 12px 12px;
    background: linear-gradient(45deg,var(--bg),var(--pr-clr));
}

body.menu-open .themes-list{
    height:210px ;
}

.themes-list li{
    min-height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-block: 6px;
}

.themes-list li:first-child{
    background: linear-gradient( 45deg, #eee,#85c446);
    color: #333;
}
.themes-list li:nth-child(2){
    background: linear-gradient( 45deg, #333,#82b541);
    color: #eee;
}
.themes-list li:nth-child(3){
    background: linear-gradient( 45deg, #eee,#fdca30);
    color: #333;
}
.themes-list li:last-child{
    background: linear-gradient( 45deg, steelblue,#999);
    color: #eee;
}
   