*{
box-sizing: border-box;
margin: 0;
padding: 0;
}


html{
    font-family: lato;
    color: var(--text);
}

body{
    background: var(--bg);
    min-height: 100vh;
}

button{
    border: none;
    background: var(--pr-clr);
    cursor: pointer;
    font-family: lato-bold;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

ul{
    list-style-type: none;
}