.flex {
    display: flex;
}

.flex.col {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}