.main-layout>*:not(.full) {
    max-width: var(--l);
    margin-left: auto;
    margin-right: auto;
}

.main-content{
    display: flex;
    gap: 20px;
}
.locations {
    overflow-y: auto;
    max-height: 400px;
    min-width: 300px;
}

.weather-locations{
    display: block;
}