@font-face {
    font-family: lato;
    src: url('./Lato-Regular.ttf');
}
@font-face {
    font-family: lato-bold;
    src: url('./Lato-Bold.ttf');
}
@font-face {
    font-family: alkalami;
    src: url('./Alkalami-Regular.ttf');
}