@font-face {
    font-family: lato;
    src: url('./Lato-Regular.ttf');
}
@font-face {
    font-family: lato-bold;
    src: url('./Lato-Bold.ttf');
}

@font-face {
    font-family: CarterOne;
    src: url('./CarterOne-Regular.ttf');
}